.transaction-container{
  background-color: #ffffff;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;

  /*scroll gdy trzeba*/
  max-height: 80vh;
  overflow-y: auto;
  width: 50%;
}

/* main content */
.main-content-history{
  padding: 0 5%;
  background-color: #f3f4f6;
  flex-grow: 1;
  min-height: 84vh; 

  display: flex;
  justify-content: center; 
  align-items: center; 
}